{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 
        '../web/bundles/randomsoftvisionsource/css/dropzone.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
  
 
<form id="control-form" action="{{ path('RandomsoftVisionsourceBundle_control_panel') }}" method="post" class="dropzone">
    {% form_theme form with ['RandomsoftVisionsourceBundle:Form:form_errors.html.twig',
                             'RandomsoftVisionsourceBundle:Form:text_input.html.twig',
                             'RandomsoftVisionsourceBundle:Form:textarea_input.html.twig'] %}
    
    {{ form_row(form.words) }}
    {{ form_row(form.phrases) }}
    <div class="dz-message" data-dz-message><span class="glyphicon glyphicon-picture" aria-hidden="true" style="font-size: 3.5em;"></span><br/><span><h2><small>Drag and drop images here</small></h2></span></div>
    {{ form_rest(form) }}
    
    <div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->
    
</form>

<button form="control-form" id="form-submit" class="submit-button">Submit</button>
{% block javascripts %}
         {{ parent() }}
         {% javascripts 
                '../web/bundles/randomsoftvisionsource/minjs/dropzone.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}  
                 <script type="text/javascript">
                          
                          Dropzone.options.controlForm = { // The camelized version of the ID of the form element
                          acceptedFiles: "image/*",
                          autoProcessQueue: false,
                          uploadMultiple: true,
                          parallelUploads: 100,
                          maxFiles: 100,      
                          dictInvalidFileType: "You can only upload images!",
                      
                          // The setting up of the dropzone
                          init: function() {
                              Dropzone.options.controlForm = false; // When dropzone initializes, prevent it to attach itself
                              var myDropzone = this;                // to form twice and causing undefined error
                              
                               $('form').on('submit', function (e) {
                                  $('#form-submit').prop('disabled', true);
                                  $('#form-submit').text('Please wait...');
                                   
                                   if(myDropzone.files.length){
                                      e.preventDefault();           // If files in the queue, prevent the normal submit of
                                      e.stopPropagation();          // symfony form and make dropzone process the files
                                      myDropzone.processQueue();  
                                   }else{
                                      this.submit();                // If there are no files, symfony submits the form 
                                   }                                // like normal
                               });
                              
                            this.on("addedfile", function(file) {
                              
                              var removeButton = Dropzone.createElement('<a class="remove-button">Remove</a>');
                              var _this = this;
                                removeButton.addEventListener("click", function(e) {
                                  // Make sure the button click doesn't submit the form:
                                  e.preventDefault();
                                  e.stopPropagation();
                                  // Remove the file preview.
                                  _this.removeFile(file);
                                  // If you want to the delete the file on the server as well,
                                  // you can do the AJAX request here.
                                });
                              file.previewElement.appendChild(removeButton);
                              //return fileCount;
                            }); 
                            
                            // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                            // of the sending event because uploadMultiple is set to true.
                            this.on("sendingmultiple", function() {
                              // Gets triggered when the form is actually being sent.
                              // Hide the success button or the complete form.
                            });
                            this.on("successmultiple", function(files, response) {
                              // Gets triggered when the files have successfully been sent.
                              // Redirect user 
                                window.location.replace(window.location.href);
                            });
                            this.on("errormultiple", function(files, response) {
                              // Gets triggered when there was an error sending the files.
                              // Maybe show form again, and notify user of error
                            });
                          }
                              
                        }
                </script>
        {% endblock %}      
{% endblock %}

