<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{% block title %}Visionsource{% endblock %}</title>
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
          <!--  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
           <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> 
            {% stylesheets filter='cssrewrite' 
                '../web/bundles/randomsoftvisionsource/css/bootstrap.css'
                '../web/bundles/randomsoftvisionsource/css/royalslider.css'
                '../web/bundles/randomsoftvisionsource/css/rs-minimal-white.css'
                '../web/bundles/randomsoftvisionsource/css/random.css'
            %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/randomsoftvisionsource/css/animate.min.css') }}">
                  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/randomsoftvisionsource/css/light-bootstrap-dashboard.css') }}">
                  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/randomsoftvisionsource/css/pe-icon-7-stroke.css') }}">
        {% endif %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('bundles/randomsoftvisionsource/minjs/jquery-1.11.0.min.js') }}"></script>
            <script src="{{ asset('bundles/randomsoftvisionsource/minjs/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/randomsoftvisionsource/minjs/jquery.easing-1.3.js') }}"></script>
            <script src="{{ asset('bundles/randomsoftvisionsource/minjs/jquery.royalslider.min.js') }}"></script>
            <script src="{{ asset('bundles/randomsoftvisionsource/minjs/jquery-1.10.3.ui.min.js') }}"></script>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <script src="{{ asset('bundles/randomsoftvisionsource/minjs/chartist.min.js') }}"></script>
                    <script src="{{ asset('bundles/randomsoftvisionsource/minjs/light-bootstrap-dashboard.js') }}"></script>
                    <script src="{{ asset('bundles/randomsoftvisionsource/minjs/bootstrap-checkbox-radio-switch.js') }}"></script>
                    <script src="{{ asset('bundles/randomsoftvisionsource/minjs/bootstrap-notify.js') }}"></script>
                    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                {% endif %}
     
        {% endblock %}
    </head>
    <body>
        <noscript>
            <style type="text/css">
                .pagecontainer {display:none;}
            </style>
            <div class="noscriptmsg">
            <h1>Warning: javascript is disabled or it is not supported!</h1>
            <p>Visionsource depends heavily on javascript to work, please enable javascript from your browser settings 
                and try again.</p>
            </div>
        </noscript>
       
        
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="sidebar" data-color="azure">    
                        <div class="sidebar-wrapper">
                            <div class="logo">
                                <a class="simple-text">
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                </a>
                                {% if user is defined %}
                                    <img src="{{ asset('uploads/user/cropped/thumbnails/50x50-'~ user.imageName ~'') }}" class="user-thumb" />
                                {% endif %}
                            </div>
                            <ul class="nav">
                                <li>
                                    <a href="{{ path('RandomsoftVisionsourceBundle_control_panel') }}">
                                        <i class="nav-icon glyphicon glyphicon-pencil"></i> 
                                        <p class="nav">Create Content</p>
                                    </a>            
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <i class="nav-icon glyphicon glyphicon-user"></i> 
                                        <p class="nav">User Profile</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('RandomsoftVisionsourceBundle_profile_settings') }}">
                                        <i class="nav-icon glyphicon glyphicon-cog"></i> 
                                        <p class="nav">Settings</p>
                                    </a>
                                </li>
                            </ul> 
                        </div>
                    </div>
            
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">    
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('RandomsoftVisionsourceBundle_home') }}">
                                {% image 'img/randomness_nav_logo_grey.svg' %}
                                    <img src="{{ asset_url }}" id="panel-logo"/>
                                {% endimage %}
                            </a>
                            {{ render(controller('RandomsoftVisionsourceBundle:Notification:getActiveNotification')) }}
                        </div>
                        <div class="collapse navbar-collapse">       
                           

                            <ul class="nav navbar-nav navbar-right">
                               
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        Log out
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </nav>
        
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
             
            {% endif %}
            
            {% block body %}{% endblock %}
             
        
            <div id="left"></div>
            <div id="right"></div>
            <div id="top"></div>
            <div id="bottom"></div>
            
         
        
      
    </body>
</html>
