{# src/Randomsoft/VisionsourceBundle/Resources/views/Email/email_resetting.html.twig #}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div>
        {% block body_text %}{% endblock %}
    </div>
</body>
</html>