{% trans_default_domain 'FOSUserBundle' %}
{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}

<div class="fos_user_user_settings">


    <div class="row">
        <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Profile Settings</h3>
              </div>
              <div class="panel-body container-fluid" id="user-settings-info">
                  <div class="panel panel-default col-md-6 col-md-offset-3">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ 'profile.show.username'|trans }}</h3>
                      </div>
                    <div class="panel-body">
                        {{ user.username }}
                    </div>
                  </div>
                  <div class="panel panel-default col-md-6 col-md-offset-3">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ 'profile.show.email'|trans }}</h3>
                      </div>
                    <div class="panel-body">
                        {{ user.email }}
                    </div>
                  </div>
                  <div class="panel panel-default col-md-6 col-md-offset-3">
                      <div class="panel-heading">
                        <h3 class="panel-title">Profile Picture</h3>
                      </div>
                    <div class="panel-body">
                        
                        <div class="profile-pic-edit-container">
                            {{ form_start(profile_edit_form, { 'action': path('RandomsoftVisionsourceBundle_change_profile_picture'), 'attr': { 'class': 'visionsource_user_profile_edit' } }) }}
                            {{ form_end(profile_edit_form) }}
                        </div>
                    </div>
                  </div>
                  <div class="panel panel-default col-md-6 col-md-offset-3">
                      <div class="panel-heading">
                        <h3 class="panel-title">Change Password</h3>
                      </div>
                    <div class="panel-body">
                          <div class="password-change-container">
                            {{ form_start(password_form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                                {{ form_errors(password_form) }}
                                {{ form_widget(password_form) }}
                                <div>
                                    <input type="submit" class="password-change-button" value="{{ 'change_password.submit'|trans }}" />
                                </div>
                                {{ form_end(password_form) }}
                          </div>
                    </div>
                 </div>
              </div>
            </div>
        
    </div>
</div>


