{% if words is empty %}
You have not uploaded any words yet
{% else %}
{% for row in words|batch(3) %}
    <div class="row">
        {% for word in row %}
        <div class="col-md-4" id="word-{{ word.id }}">
            <div class="panel panel-default" id="{{ word.id }}">
                <div class="panel-body">{{ word.word }}</div>
                <button class="btn btn-sm edit-word">Edit</button>
                <button class="btn btn-sm delete-word">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
{% endif %}

