{% if phrases is empty %}
You have not uploaded any phrases yet
{% else %}
{% for row in phrases|batch(3) %}
    <div class="row">
        {% for phrase in row %}
        <div class="col-md-4" id="phrase-{{ phrase.id }}">
            <div class="panel panel-default" id="{{ phrase.id }}">
                <div class="panel-body">{{ phrase.phrase }}</div>
                <button class="btn btn-sm edit-phrase">Edit</button>
                <button class="btn btn-sm delete-phrase">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
{% endif %}


