{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div id="edit-message"></div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Words</h3>
              </div>
              <div class="panel-body">
                  {{ render(controller('RandomsoftVisionsourceBundle:UserWord:userWords')) }}
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Phrases</h3>
              </div>
              <div class="panel-body">
                  {{ render(controller('RandomsoftVisionsourceBundle:UserPhrase:userPhrases')) }}
              </div>
            </div>
            
            
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Pictures</h3>
              </div>
              <div class="panel-body">
                 {% if pictures is empty %}
                  You have not uploaded any pictures yet
                  {% else %}
                      {% for picture in pictures %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                              <img src="{{ asset('bundles/randomsoftvisionsource/uploads/' ~ picture.name ~ '') }}">
                              <div class="caption">
                                <p><button class="btn btn-primary" data-toggle="modal" data-target="#view-modal-{{ picture.id }}">View</button> <button class="btn btn-primary" data-toggle="modal" data-target="#delete-modal-{{ picture.id }}">Delete</button></p>
                              </div>
                            </div>
                            <!-- View Modal -->
                                <div id="view-modal-{{ picture.id }}" class="modal autoModal clearfix fade" role="dialog">
                                  <div class="modal-dialog custom-modal">

                                    <!-- View Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        <img src="{{ asset('bundles/randomsoftvisionsource/uploads/' ~ picture.name ~ '') }}" />
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                            
                            <!-- Delete Modal -->
                                <div id="delete-modal-{{ picture.id }}" class="modal clearfix fade" role="dialog">
                                  <div class="modal-dialog">

                                    <!-- Delete Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        <p>Are you sure you wish to delete the picture from Visionsource</p>
                                      </div>
                                      <div class="modal-footer">
                                        <a href="{{ path('RandomsoftVisionsourceBundle_picture_delete', {'picture_name': picture.name}) }}" type="button" class="btn btn-primary">Confirm</a><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                          </div>
                      {% endfor %}
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
    
</div>

{% block javascripts %}
           
                <script type="text/javascript">
                     $(document).ready(function () {
                        $(".edit-word").click(wordButtonClicked);
                        $(".delete-word").click(wordButtonClicked);
                        $(".edit-phrase").click(phraseButtonClicked);
                        $(".delete-phrase").click(phraseButtonClicked);
                    });
                    
                    function wordButtonClicked() {
                        var word_editableText = $("<textarea class='content-edit' />");
                        var word_viewableText = $("<div class='panel-body'>");
                        var word_saveButton = $("<button class='btn btn-sm save-word'>Save</button>");
                        var word_editButton = $("<button class='btn btn-sm edit-word'>Edit</button>");
                        var word_confirmDiv = $("<div class='ask-confirm'><button class='btn btn-sm confirm-word'>Yes</button>  Are you sure?  <button class='btn btn-sm cancel-word'>No</button></div>");
                        var word_deleteButton;
                        var word_confirmButton;
                        var word_cancelButton;
                        
                        if ($(this).hasClass("save-word") == true) {
                            var word_textAreaContent = $(this).prev('textarea').val();
                            $.trim(word_textAreaContent.replace(/\s*[\r\n]+\s*/g, '\n').replace(/(<[^\/][^>]*>)\s*/g, '$1').replace(/\s*(<\/[^>]+>)/g, '$1'));
                            var word_contentID = $(this).parent().attr('id');
                            sendEditedWordData(word_textAreaContent, word_contentID);
                            word_viewableText.html(word_textAreaContent);
                            $(this).prev("textarea").replaceWith(word_viewableText);
                            word_deleteButton = $(this).next("button").attr('class' , 'btn btn-sm delete-word');
                            word_deleteButton.show();
                            $(this).replaceWith(word_editButton);
                            word_editButton.click(wordButtonClicked);
                        }else if ($(this).hasClass("delete-word") == true){
                            $(this).prev(".edit-word").hide();
                            $(this).hide();
                            $(this).parent().append(word_confirmDiv);
                            word_confirmButton = $(this).next(".ask-confirm").find(".confirm-word");
                            word_cancelButton = $(this).next(".ask-confirm").find(".cancel-word");
                            word_confirmButton.click(wordButtonClicked);
                            word_cancelButton.click(wordButtonClicked);
                        }else if ($(this).hasClass("edit-word") == true){
                            //var word_divHtml = $(this).prev("div").find("div").html();
                            var word_divHtml = $(this).prev("div").html();
                            word_editableText.val(word_divHtml);
                            $(this).prev("div").replaceWith(word_editableText);
                            //$(this).prev("div").empty();
                            //$(this).prev("div").append(word_editableText);
                            word_editableText.focus();
                            // setup the blur event for this new textarea
                            word_editableText.blur({w_param: word_divHtml}, editableWordBlurred);
                            $(this).next(".delete-word").hide();
                            $(this).replaceWith(word_saveButton);
                            //Instead of click event, saveButton listens mousedown event
                            //--> mousedown event fires before blur, so blur event won't 
                            //screw up the button clicking 
                            word_saveButton.mousedown(wordButtonClicked);
                        }else if ($(this).hasClass("confirm-word") == true) {
                            var word_contentID = $(this).parent().parent().attr('id');
                            sendDeleteWordData(word_contentID);
                        }else if ($(this).hasClass("cancel-word") == true) {
                            word_deleteButton = $(this).parent().prev(".delete-word");
                            word_editButton = word_deleteButton.prev(".edit-word");
                            word_editButton.show();
                            word_deleteButton.show();
                            $(this).parent().remove();
                        }
                          
                    }
                    
                    function editableWordBlurred(event) {
                            var word_textAreaContent = event.data.w_param;
                            var word_viewableText = $("<div class='panel-body'>");
                            var word_editButton = $("<button class='btn btn-sm edit-word'>Edit</button>");
                            var word_saveButton = $(this).next('.btn');
                            word_viewableText.html(word_textAreaContent);
                            $(this).replaceWith(word_viewableText);
                            $(".delete-word").show();
                            word_saveButton.replaceWith(word_editButton);
                            word_editButton.click(wordButtonClicked);
                    }
                    
                    
                    function sendEditedWordData (word_content, word_id) {
                           $.ajax({
                              url: "{{ path('RandomsoftVisionsourceBundle_word_edit') }}",
                              type: "POST",
                              dataType: "html",
                              data: { "word_content" : word_content, "word_id" : word_id }
                              })
                               .done(function(response){
                                    $("#edit-message").removeAttr("style");
                                    $("#edit-message").html(response);
                                    $("#edit-message").contents().filter(function(){
                                        return this.nodeType === 3;
                                    }).remove();
                                    $("#edit-message").delay(5000).fadeOut("slow");
                                    
                                })
                                .fail(function(jqXHR, textStatus, errorThrown){
                                    alert('Error : ' + errorThrown);
                                });
                       
                    }
                    
                    function sendDeleteWordData (word_id) {
                           $.ajax({
                              url: "{{ path('RandomsoftVisionsourceBundle_word_delete') }}",
                              type: "POST",
                              dataType: "html",
                              data: { "word_id" : word_id }
                              })
                               .done(function(response){
                                    $("#edit-message").removeAttr("style");
                                    $("#edit-message").html(response);
                                    $("#edit-message").contents().filter(function(){
                                        return this.nodeType === 3;
                                    }).remove();
                                    $("#edit-message").delay(5000).fadeOut("slow");
                                    $("#word-" + word_id).remove();
                                    
                                })
                                .fail(function(jqXHR, textStatus, errorThrown){
                                    alert('Error : ' + errorThrown);
                                });
                       
                    }
                    
                    
                    
                    
                    function phraseButtonClicked() {
                        var phrase_editableText = $("<textarea class='content-edit' />");
                        var phrase_viewableText = $("<div class='panel-body'>");
                        var phrase_saveButton = $("<button class='btn btn-sm save-phrase'>Save</button>");
                        var phrase_editButton = $("<button class='btn btn-sm edit-phrase'>Edit</button>");
                        var phrase_confirmDiv = $("<div class='ask-confirm'><button class='btn btn-sm confirm-phrase'>Yes</button>  Are you sure?  <button class='btn btn-sm cancel-phrase'>No</button></div>");
                        var phrase_deleteButton;
                        var phrase_confirmButton;
                        var phrase_cancelButton;
                        
                        if ($(this).hasClass("save-phrase") == true) {
                            var phrase_textAreaContent = $(this).prev('textarea').val();
                            //$.trim(phrase_textAreaContent.replace(/\s*[\r\n]+\s*/g, '\n').replace(/(<[^\/][^>]*>)\s*/g, '$1').replace(/\s*(<\/[^>]+>)/g, '$1'));
                            var phrase_contentID = $(this).parent().attr('id');
                            sendEditedPhraseData(phrase_textAreaContent, phrase_contentID);
                            phrase_viewableText.html(phrase_textAreaContent);
                            $(this).prev("textarea").replaceWith(phrase_viewableText);
                            phrase_deleteButton = $(this).next("button").attr('class' , 'btn btn-sm delete-phrase');
                            phrase_deleteButton.show();
                            $(this).replaceWith(phrase_editButton);
                            phrase_editButton.click(phraseButtonClicked);
                        }else if ($(this).hasClass("delete-phrase") == true){
                            $(this).prev(".edit-phrase").hide();
                            $(this).hide();
                            $(this).parent().append(phrase_confirmDiv);
                            phrase_confirmButton = $(this).next(".ask-confirm").find(".confirm-phrase");
                            phrase_cancelButton = $(this).next(".ask-confirm").find(".cancel-phrase");
                            phrase_confirmButton.click(phraseButtonClicked);
                            phrase_cancelButton.click(phraseButtonClicked);
                        }else if ($(this).hasClass("edit-phrase") == true){
                            var phrase_divHtml = $(this).prev("div").html();
                            phrase_editableText.val(phrase_divHtml);
                            $(this).prev("div").replaceWith(phrase_editableText);
                            phrase_editableText.focus();
                            // setup the blur event for this new textarea
                            phrase_editableText.blur({p_param: phrase_divHtml},editablePhraseBlurred);
                            $(this).next(".delete-phrase").hide();
                            $(this).replaceWith(phrase_saveButton);
                            //Instead of click event, saveButton listens mousedown event
                            //--> mousedown event fires before blur, so blur event won't 
                            //screw up the button clicking 
                            phrase_saveButton.mousedown(phraseButtonClicked);
                        }else if ($(this).hasClass("confirm-phrase") == true) {
                            var phrase_contentID = $(this).parent().parent().attr('id');
                            sendDeletePhraseData(phrase_contentID);
                        }else if ($(this).hasClass("cancel-phrase") == true) {
                            phrase_deleteButton = $(this).parent().prev(".delete-phrase");
                            phrase_editButton = phrase_deleteButton.prev(".edit-phrase");
                            phrase_editButton.show();
                            phrase_deleteButton.show();
                            $(this).parent().remove();
                        }
                          
                    }
                    
                    function editablePhraseBlurred(event) {
                            var phrase_textAreaContent = event.data.p_param;
                            var phrase_viewableText = $("<div class='panel-body'>");
                            var phrase_editButton = $("<button class='btn btn-sm edit-phrase'>Edit</button>");
                            var phrase_saveButton = $(this).next('.btn');
                            phrase_viewableText.html(phrase_textAreaContent);
                            $(this).replaceWith(phrase_viewableText);
                            $(".delete-phrase").show();
                            phrase_saveButton.replaceWith(phrase_editButton);
                            phrase_editButton.click(phraseButtonClicked);
                    }
                
                    function sendEditedPhraseData (phrase_content, phrase_id) {
                           $.ajax({
                              url: "{{ path('RandomsoftVisionsourceBundle_phrase_edit') }}",
                              type: "POST",
                              dataType: "html",
                              data: { "phrase_content" : phrase_content, "phrase_id" : phrase_id }
                              })
                               .done(function(response){
                                    $("#edit-message").removeAttr("style");
                                    $("#edit-message").html(response);
                                    $("#edit-message").contents().filter(function(){
                                        return this.nodeType === 3;
                                    }).remove();
                                    $("#edit-message").delay(5000).fadeOut("slow");
                                    
                                })
                                .fail(function(jqXHR, textStatus, errorThrown){
                                    alert('Error : ' + errorThrown);
                                });
                       
                    }
                    
                    function sendDeletePhraseData (phrase_id) {
                           $.ajax({
                              url: "{{ path('RandomsoftVisionsourceBundle_phrase_delete') }}",
                              type: "POST",
                              dataType: "html",
                              data: { "phrase_id" : phrase_id }
                              })
                               .done(function(response){
                                    $("#edit-message").removeAttr("style");
                                    $("#edit-message").html(response);
                                    $("#edit-message").contents().filter(function(){
                                        return this.nodeType === 3;
                                    }).remove();
                                    $("#edit-message").delay(5000).fadeOut("slow");
                                    $("#phrase-" + phrase_id).remove();
                                    
                                })
                                .fail(function(jqXHR, textStatus, errorThrown){
                                    alert('Error : ' + errorThrown);
                                });
                                     
                    }
                    
                          
                </script>
{% endblock %}     


