{% if notifications is empty %}
{% else %}
<a class="navbar-brand" data-toggle="modal" data-target="#notification-modal">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="font-size: 1.0em;">
        <div id="notification-modal" class="modal autoModal clearfix fade" role="dialog">
           <div class="modal-dialog custom-modal">
               
               {% for notification in notifications %}
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <h4 class="modal-title">{{ notification.title}}</h4>
                        
                    </div>
                    <div class="modal-body">
                        <p>{{ notification.body | raw }}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                          <div class="col-sm-9">
                            <div class="row">
                              <div class="col-xs-8 col-sm-6">
                                <p>By: {{ notification.creator }}</p>
                              </div>
                              <div class="col-xs-8 col-sm-6">
                                <p><i>Created: {{ notification.createdAt }}</i></p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div> 
                </div>
               {% endfor %}
            </div>
        </div>                       
    </span>
</a>
{% endif %}