{% block form_errors %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
    </div>    
    {% endif %}
{% endblock form_errors %}