{%- block radio_widget -%}
    <input type="radio" class="custom-radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}" {% endif %}{% if id is defined %} id="{{ id }}" {% endif %} {% if checked %} checked="checked"{% endif %} />
<label for="{{ id }}" class="css-label"></label>
{%- endblock radio_widget -%}