{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input {% if type is not empty %} type="{{ type }}" {% endif %} class="form-control" rows="3" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}