html, body{
    height: 100%;
    width: 100%;
    background-color: azure;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


.slider-page {
    background-color: white;
}

#slideContainer{
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0; /* height of thumbs (if not required set to 0) */
    max-height: 600px;
    width: auto;
    z-index: 1;
}

body .custom-modal {
    height: 100%;
    width: 100%;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/visionsource/web/img/ajax-loader.gif) center no-repeat #fff;
}

.content-edit {
    width: 100%;
    height: 100%;
    resize: none;
    overflow:hidden;
}

.text-edit-wrapper {
    margin: 0 0 0 0;
}

.col-md-4 {
    min-height: 125px;
} 

#user-settings-info > .panel.col-md-6.col-md-offset-3 {
  padding-left: 0;
  padding-right: 0;
}


#top, #bottom, #left, #right {
	background: aqua;
	position: fixed;
    z-index:5;
}
#left, #right {
    top: 0; bottom: 0;
    width: 10px;
}
#left { 
    left: 0; 
}
#right { 
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: 10px;
}
#top { 
    top: 0; 
}
#bottom { 
    bottom: 0; 
}


#formContainer {
    text-align: center;
    position: fixed;
    width: 550px;
    height: 550px;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -275px;
    border: 1px solid aqua;
    border-radius: 275px;
     -webkit-border-radius: 275px;
     -moz-border-radius: 275px;
}



.required {
  width: 13%;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:22px;
  
}

#control_phrases {
    resize:vertical; 
}


form {
 float: none;
 margin: 0 auto;
    
}

p {
       
   float: none;
   margin: 0 auto;
   
}

.sidebar .logo .simple-text, body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px; 
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left; 
    font-weight: 400;
    line-height: 30px;
}

#home-logo {
   
 margin: 0 auto;
 margin-top: 6%;   
}

#panel-logo {
    margin-top: -13px;
    width: 50px;
    height: 45px;
}


form {
    padding-top: 3%;
}

p {
    padding-top: 50px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17.8px;
}

.nav {
 padding-top: 0; 
 
}

.nav-icon {
    float: left;
    margin-right: 15px;
}


.submit-button, .password-change-button {
	background-color:#000000;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#00ccff;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:20px;
	padding:5px 76px;
	text-decoration:none;
}

.remove-button {
        -moz-box-shadow:inset 0px -2px 1px 0px #97c4fe;
        -webkit-box-shadow:inset 0px -2px 1px 0px #97c4fe;
        box-shadow:inset 0px -2px 1px 0px #97c4fe;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
        background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
        background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
        background-color:#3d94f6;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        border:2px solid #337fed;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        padding:4px 8px;
        text-decoration:none;
        margin-left: 25px;
        margin-top: 5px;

        :hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
            background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
            background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
            background-color:#1e62d0;
        }
        :active {
            position:relative;
            top:1px;
        }

}


.error-message { 
    text-align: center; 
    padding: 10px; 
    background: #DFF2BF; 
    border: 1px solid; 
    color: #4F8A10; 
    margin-bottom: 10px; 
}

#modeSubmit:active {
	position:relative;
	top:1px;
}


.rsContent {
  color: #FFF;
  font-size: 40px;
  line-height: 32px;
  float: left;
}
.bContainer {
  position: relative;
}
.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}
.blockHeadline {
  font-size: 42px;
  line-height: 50px;
}
.blockSubHeadline {
  font-size: 32px;
  line-height: 40px
}
.txtCent {
  padding-top: 15%;    
  text-align: center; 
  width: 100%; 
}

.slide {
     background: #ffffff;
     color:#000;
     .bContainer {top: 24px;}
     .txtCent {line-height: 44px;}
     .blockHeadline {line-height: 66px;}
}


#slider {
      background: #33ffff; 
      margin: auto;
      margin-top: 25px;
      width: 75%;
      height: 8px;
}

#sliderValue {
    padding-bottom: 20px;
}

#slider .ui-slider-handle {
    height: 23px;
    width: 23px;
    margin-top: -4px;
    border-radius: 16px; 
    outline:none;
}


input[type=radio].custom-radio {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
				}

input[type=radio].custom-radio + label.css-label {
    padding-left:32px;
    height:27px; 
    display:inline-block;
    line-height:27px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:27px;
    vertical-align:middle;
    cursor:pointer;
}
input[type=radio].custom-radio:checked + label.css-label {
    background-position: 0 -27px;
}
label.css-label {
    background-image:url(/visionsource/web/img/radio_buttons.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 600px) {
    
 html,body {
        max-height: 100%;
        max-width: 100%;
        text-align: center;
        padding: 0 0 0 0;
}
    

    

 #formContainer {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -75% 0 0 -50%;
    border: none;
    border-radius: 0;
    padding: 5% 2% 2% 2%;
    
}
    
 #sliderValue {
    padding: 5% 0 15% 0;
}
    
 #sliderContainer {
     margin-top: 10%;
 }
    

    

    
    p {
       padding-top: 2%; 
       font-family: 'Josefin Sans', sans-serif;
       font-size: 16px;
    }
    

    
    #home-logo {
       
    }
    
    .required {
      width: 14%;
      font-family:'Open Sans Condensed', sans-serif;
      font-size:17px;
    }
    
    
    #slider {
        height: 9px;
    }
    
    #slider .ui-slider-handle {
        height: 32px;
        width: 32px;
        margin-top: -7px;
        border-radius: 18px; 
   
    }
    
    #mode-submit{
        //position: absolute;
        margin-bottom: 5%;
        margin: auto;
        
    }
    
    #left, #right {
    width: 4px;
    }
    
    #top, #bottom {
    height: 4px;
    }
    


}








