{# src/Randomsoft/VisionsourceBundle/Resources/views/Page/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/randomsoftvisionsource/minjs/jquery-0.2.2.ui.touch-punch.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="se-pre-con">
</div>
    <div id="formContainer">    
        {% image 'img/randomness_logo.png' %}
            <img src="{{ asset_url }}" id="home-logo" height="116px" width="115px" />
        {% endimage %}
        <p id="index-text">Visionsource is a mind tool for finding new ideas.<br/> Thoughts you never would imagine through a normal ideation process.</p>
        
        {{ form_start(form, {'action': path('RandomsoftVisionsourceBundle_home'), 'method': 'POST'}) }}
             {% form_theme form with['RandomsoftVisionsourceBundle:Form:radio_button.html.twig'] %}
        {{ form_errors(form) }}

        {{ form_row(form.modeChoice) }}
        <div id="sliderContainer">
            <div id="slider">
            </div>
            {{ form_widget(form.interval) }}
        </div>
        {{ form_rest(form) }}
        
        <p id="sliderValue"><span id="num">35</span> Seconds</p>
        
        <input type="submit" id="mode-submit" class="submit-button" value="Start" />
        
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        //var val;
        
           $(window).load(function() {
            $('#mode_interval').val(35);
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
	       
        
            $(function() {
                    $( "#slider" ).slider({
                      value:35,
                      min: 5,
                      max: 60,
                      step: 5,
                      slide: function( event, ui ) {
                        $( "#num" ).text( ui.value );
                        $('#mode_interval').val( ui.value );
                      }
                    });
                    $( "#num" ).val( $( "#slider" ).slider( "value" ) );
              });

            $('#slider span:first-child').draggable();
               
               });
       
     /*   
      $('#mode_interval').change(function () {
        val = $('#mode_interval').val();
        $('#num').text(val)
          
    });
    */

    </script>
{% endblock %}




