{# src/Randomsoft/VisionsourceBundle/Resources/views/Page/phrase.html.twig #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        {% stylesheets 'bundles/randomsoftvisionsource/css/random.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
<style>
    .progress .progress-bar {
        -webkit-transition : width {{ interval }}.0s linear !important;
        -moz-transition : width {{ interval }}.0s linear !important;
        -o-transition : width {{ interval }}.0s linear !important;
        transition : width {{ interval }}.0s linear !important;
    }
</style>
{% endblock %}

{% block body %}
<body class="slider-page">
        <div class="progress"> 
        </div>
        <div hidden id="slideContainer" class="royalSlider rsMinW">   
        {% for phrase in phrases %}
            <div id= "slide-{{ phrase.id }}" class="rsContent slide">
              <span class="rsABlock txtCent" data-move-effect="right">{{ phrase.phrase }}</span>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../bower_components/bootstrap-progressbar-0.9.0/bootstrap-progressbar.min.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            var $pb;
            
            function startTimer() {
                $( '.progress' ).append('<div class="progress-bar" role="progressbar"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="100"></div>');
                         
                $pb = $('.progress .progress-bar');
                
                  $pb.progressbar({
                    update: function(current_percentage) { $pb.attr('aria-valuenow', current_percentage); },
                    done: function() {
                    }
                });
            }
             
            
            function removeTimer() {
               $('.progress-bar').fadeOut("normal", function() {
                    $(this).remove();
                });
            }
            
          jQuery.rsCSS3Easing.easeOutBack = 'cubic-bezier(0.175, 0.885, 0.320, 1.275)';
          $('#slideContainer').removeAttr( "hidden" );
          $('#slideContainer').royalSlider({
            arrowsNav: false,
            fadeinLoadedSlide: false,
            controlNavigation: 'none',
            blockLoop: true,
            loop: true,
            transitionType: 'fade',
            keyboardNavEnabled: false,
            autoPlay: {
              enabled: true,
              delay: {{ interval }}000,
              pauseOnHover: false,
              stopAtAction: false 
            }
          });
        
           startTimer();
        
           var slider = $('.royalSlider').data('royalSlider');
        
        
           slider.ev.on('rsBeforeAnimStart', function(event) {
            // before animation between slides start
                removeTimer();
                startTimer();
            });
            
        });
    </script>
 
{% endblock %}