{# src/Randomsoft/VisionsourceBundle/Resources/views/Page/picture.html.twig #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        {% stylesheets 'bundles/randomsoftvisionsource/css/random.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
<style>
    .progress .progress-bar {
        -webkit-transition : width {{ interval }}.0s linear !important;
        -moz-transition : width {{ interval }}.0s linear !important;
        -o-transition : width {{ interval }}.0s linear !important;
        transition : width {{ interval }}.0s linear !important;
    }
</style>
{% endblock %}

{% block body %}
<body class="slider-page">
        <div class="progress"> 
        </div>
        <div hidden id="slideContainer" class="royalSlider rsDefault">  
        {% for picture in pictures %}

                    <div id= "slide-{{ picture.id }}" class="rsContent slide image">
                        <img class="rsImg img-circle"  src="{{ asset('bundles/randomsoftvisionsource/uploads/' ~ picture.name ~ '') }}" />
                    </div>

        {% endfor %}
   
    </div> 

</body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../bower_components/bootstrap-progressbar-0.9.0/bootstrap-progressbar.min.js') }}"></script>
    <script>
        jQuery(window).load(function() {
            var $pb;
            
            function startTimer() {
                $( '.progress' ).append('<div class="progress-bar" role="progressbar"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-transitiongoal="100"></div>');
                         
                $pb = $('.progress .progress-bar');
                
                  $pb.progressbar({
                    update: function(current_percentage) { $pb.attr('aria-valuenow', current_percentage); },
                    done: function() {
                    }
                });
            }
             
            
            function removeTimer() {
               $('.progress-bar').fadeOut("normal", function() {
                    $(this).remove();
                });
            }
            
          jQuery.rsCSS3Easing.easeOutBack = 'cubic-bezier(0.175, 0.885, 0.320, 1.275)';
          $('.royalSlider').removeAttr( "hidden" );
          var slider = $('.royalSlider').royalSlider({
            autoScaleSlider: true,
            autoScaleSliderHeight: 600,
            arrowsNav: false,
            arrowsNavAutoHide: false,
            arrowsNavHideOnTouch: true,
            fadeinLoadedSlide: false,
            controlNavigation: 'none',
            imageScaleMode: 'fit',
            imageAlignCenter: false,
            imageScalePadding: 6,
            blockLoop: true,
            loop: true,
            numImagesToPreload: 5,
            transitionType: 'move',
            transitionSpeed: 1000,
            keyboardNavEnabled: false,
            sliderTouch: true,
            usePreloader: true,
            autoPlay: {
              enabled: true,
              delay: {{ interval }}000,
              pauseOnHover: false,
              stopAtAction: false    
            },
            easeOut: 'easeOutSine',
            minSlideOffset: 10
          }).data('royalSlider');
            
           startTimer();
        
           slider.ev.on('rsBeforeAnimStart', function(event) {
            // before animation between slides start
                removeTimer();
                startTimer();
            });
            
        
        });
    </script>
 
{% endblock %}