{% block subject %}
    Visionsource account creation
{% endblock %}

{% block body_html %}
        {% block body_text %}
            {% autoescape false %}
            Hi, {{ user.username }} !

            You are almost done creating your Visionsource account,
            You will only need to confirm your registration by clicking the 
            link below.

            Proceed to the following URL to enable your account and login:

            ======================
            {{ confirmationUrl }}
            ======================

            - Visionsource
            {% endautoescape %}
        {% endblock %}
{% endblock %}