{% block subject %} Resetting your password{% endblock %}

{% block body_html %}
    {% embed "RandomsoftVisionsourceBundle:Email:email_resetting.html.twig" %}
        {% block body_text %}
            {% autoescape false %}
            Hello {{ user.username }} !

            You can reset your email by accessing {{ confirmationUrl }}

            Best regards,
            Visionsource
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}