{% block subject %}
    New user registration
{% endblock %}

{% block body_html %}
        {% block body_text %}
            {% autoescape false %}
            The following user has been registered:  

            Username:       {{ user.username }}
            Email:          {{ user.email }}
            
            {% endautoescape %}
        {% endblock %}
{% endblock %}