{% block subject %}
    User account confirmed
{% endblock %}

{% block body_html %}
        {% block body_text %}
            {% autoescape false %}
            Congratulations {{ user.username }}, your Visionsource account has been confirmed!

            You are now allowed to log in and start uploading awesome content to the system.

            Best regards,
            Visionsource
            {% endautoescape %}
        {% endblock %}
{% endblock %}