{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
    <h5>Users</h5>
    <div>
        <b>Founder</b><br/>
    {{founder}}
    </div>
</div>
